.commentsActive {
    border: 2px solid rgb(0, 162, 255);
    border-radius: 10px;
    text-align: center;
    /* max-width: 500px; */
    max-width: 500px;
    /* min-width: 150px; */
    margin: 0 auto;
    margin-bottom: 10px;
    /* padding: 5px; */
}

.commentsInactive {
  display: none;
}

.commentInfo {
    padding-top: 10px;
}

.commentBody {
    font-size: 18px;
}

.paddingLast {
    padding-bottom: 10px;
}

.deleteBtn {
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    width: fit-content;
}

#noCommentActive {
    display: block;
}

#noCommentInactive {
    display: none;
}

#commentName {
    color: rgb(0, 174, 255);
}